<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>402218717117-jd6klf8i5clu2b3blntd01g76mq8k82v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402218717117-jd6klf8i5clu2b3blntd01g76mq8k82v</string>
	<key>API_KEY</key>
	<string>AIzaSyD91eMNK0gHz55rW2JYEEzZdA4CjtpQNDo</string>
	<key>GCM_SENDER_ID</key>
	<string>402218717117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ibiuna.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotesgbarska</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotesgbarska.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:402218717117:ios:2a9e192bdaa5b21020ccd4</string>
</dict>
</plist>